<!DOCTYPE html>
<html>
  <head>
    <%= javascript_include_tag "http://code.jquery.com/jquery-1.10.0.min.js" %>
    <%= javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.min.js" %>
    <%= javascript_include_tag 'https://www.gstatic.com/charts/loader.js'%>
    
  </head>
  <body>
   <%= yield %>
  </body>
</html>